In [1]:
import pandas as pd
import pandas_datareader.data as web
import pandas_datareader as pdr
import seaborn as sns

In [2]:
f = web.DataReader('USD000UTSTOM', 'moex', start='2017-07-01', end='2017-07-31')
f.head()

,BOARDID,CLOSE,HIGH,LOW,NUMTRADES,OPEN,SECID,SHORTNAME,VOLRUR,WAPRICE
TRADEDATE,,,,,,,,,,
2017-07-03,CETS,59.2650,59.4825,58.7900,29108,58.9500,USD000UTSTOM,USDRUB_TOM,1.472424e+11,59.1903
2017-07-04,CETS,59.4125,59.4575,59.1350,21053,59.3000,USD000UTSTOM,USDRUB_TOM,1.090265e+11,59.2700
2017-07-05,CETS,59.9825,60.2600,59.3000,50108,59.3000,USD000UTSTOM,USDRUB_TOM,2.874226e+11,59.9234
2017-07-06,CETS,60.1600,60.4350,59.7500,43929,60.1025,USD000UTSTOM,USDRUB_TOM,2.404461e+11,60.0714
2017-07-07,CETS,60.3550,60.6250,60.2125,45691,60.4000,USD000UTSTOM,USDRUB_TOM,2.561535e+11,60.4281

In [3]:
sber=web.DataReader('sber', 'moex', start='2017-01-01', end='2017-12-31')
sber.head()

,ADMITTEDQUOTE,ADMITTEDVALUE,BEICLOSE,BID,BOARDID,BOARDNAME,BUYBACKDATE,CBRCLOSE,CLOSE,CLOSEAUCTIONPRICE,...,TRENDCLSPR,TRENDWAP,TRENDWAPPR,TYPE,VALUE,VOLUME,WAPRICE,WAVAL,YIELDLASTCOUPON,YIELDTOOFFER
TRADEDATE,,,,,,,,,,,,,,,,,,,,,
2017-01-03,180.12,9.609078e+09,NaN,NaN,TQBR,NaN,NaN,NaN,180.12,NaN,...,NaN,NaN,NaN,NaN,9.609078e+09,53890400.0,178.25,NaN,NaN,NaN
2017-01-04,175.95,7.305516e+09,NaN,NaN,TQBR,NaN,NaN,NaN,175.95,NaN,...,NaN,NaN,NaN,NaN,7.305516e+09,41400710.0,176.50,NaN,NaN,NaN
2017-01-05,171.90,6.109243e+09,NaN,NaN,TQBR,NaN,NaN,NaN,171.90,NaN,...,NaN,NaN,NaN,NaN,6.109243e+09,35093040.0,174.13,NaN,NaN,NaN
2017-01-06,170.69,6.065098e+09,NaN,NaN,TQBR,NaN,NaN,NaN,170.69,NaN,...,NaN,NaN,NaN,NaN,6.065098e+09,35415590.0,171.28,NaN,NaN,NaN
2017-01-09,168.35,5.977865e+09,NaN,NaN,TQBR,NaN,NaN,NaN,168.35,NaN,...,NaN,NaN,NaN,NaN,5.977865e+09,35187380.0,169.90,NaN,NaN,NaN

In [7]:
f = pdr.moex.MoexReader('SBER', '2020-07-02', '2020-07-03').read_all_boards()
f.head(10)

,ADMITTEDQUOTE,ADMITTEDVALUE,BEICLOSE,BID,BOARDID,BOARDNAME,BUYBACKDATE,CBRCLOSE,CLOSE,CLOSEAUCTIONPRICE,...,TRENDCLSPR,TRENDWAP,TRENDWAPPR,TYPE,VALUE,VOLUME,WAPRICE,WAVAL,YIELDLASTCOUPON,YIELDTOOFFER
TRADEDATE,,,,,,,,,,,,,,,,,,,,,
2020-07-02,NaN,NaN,NaN,NaN,EQRP,NaN,NaN,NaN,4.25,NaN,...,NaN,NaN,NaN,NaN,8.000984e+09,NaN,3.93000,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,PSRD,NaN,NaN,NaN,0.65,NaN,...,NaN,NaN,NaN,NaN,1.125761e+07,NaN,NaN,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,PSRP,NaN,NaN,NaN,4.50,NaN,...,NaN,NaN,NaN,NaN,1.448042e+09,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,EQRP,NaN,NaN,NaN,2.90,NaN,...,NaN,NaN,NaN,NaN,1.247663e+10,NaN,3.34000,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,PSRD,NaN,NaN,NaN,1.90,NaN,...,NaN,NaN,NaN,NaN,8.600262e+06,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,PSRP,NaN,NaN,NaN,4.49,NaN,...,NaN,NaN,NaN,NaN,5.984653e+09,NaN,NaN,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,RPMO,NaN,NaN,NaN,209.50,NaN,...,NaN,NaN,NaN,NaN,1.790613e+09,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,RPMO,NaN,NaN,NaN,210.59,NaN,...,NaN,NaN,NaN,NaN,1.836143e+09,NaN,NaN,NaN,NaN,NaN
2020-07-03,NaN,NaN,NaN,NaN,SOTC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,common_share,3.375344e+08,1618706.0,208.52136,NaN,NaN,NaN
2020-07-02,NaN,NaN,NaN,NaN,PTEQ,NaN,NaN,NaN,210.00,NaN,...,NaN,NaN,NaN,NaN,1.902915e+08,914392.0,208.11000,NaN,NaN,NaN

In [8]:
f.BOARDID.unique()

array(['EQRP', 'PSRD', 'PSRP', 'RPMO', 'SOTC', 'PTEQ', 'SMAL', 'TQBR',
       'MXBD'], dtype=object)

In [9]:
print(sber.columns)

Index(['ADMITTEDQUOTE', 'ADMITTEDVALUE', 'BEICLOSE', 'BID', 'BOARDID',
       'BOARDNAME', 'BUYBACKDATE', 'CBRCLOSE', 'CLOSE', 'CLOSEAUCTIONPRICE',
       'CLOSEPERIOD', 'CLOSEVAL', 'COUPONPERCENT', 'COUPONVALUE', 'CURRENCYID',
       'DAILYCAPITALIZATION', 'DECIMALS', 'FACEUNIT', 'FACEVALUE', 'HIGH',
       'HIGHBID', 'IRICPICLOSE', 'ISIN', 'ISSUESIZE', 'LASTPRICE',
       'LASTTRADEDATE', 'LEGALCLOSEPRICE', 'LEGALOPENPRICE', 'LISTNAME', 'LOW',
       'LOWOFFER', 'MARKETPRICE', 'MARKETPRICE2', 'MARKETPRICE3',
       'MARKETPRICE3CUR', 'MARKETPRICE3TRADESVALUE',
       'MARKETPRICE3TRADESVALUECUR', 'MONTHLYCAPITALIZATION', 'MP2VALTRD',
       'MPVALTRD', 'NUMBID', 'NUMOFFER', 'NUMTRADES', 'OFFER', 'OFFERDATE',
       'OPEN', 'OPENPERIOD', 'OPENVAL', 'PREV', 'PREVLEGALCLOSEPRICE',
       'REGNUMBER', 'SECID', 'SHORTNAME', 'TRADINGSESSION', 'TRENDCLOSE',
       'TRENDCLSPR', 'TRENDWAP', 'TRENDWAPPR', 'TYPE', 'VALUE', 'VOLUME',
       'WAPRICE', 'WAVAL', 'YIELDLASTCOUPON', 'YIELDTOOFFER'],
      dtype='object')

In [14]:
sbr=sber[['OPEN','LOW','HIGH','CLOSE','VALUE', 'VOLUME']]
sbr.head(20)

              OPEN     LOW    HIGH   CLOSE         VALUE      VOLUME
TRADEDATE
2017-01-03  173.40  173.00  181.68  180.12  9.609078e+09  53890400.0
2017-01-04  178.90  174.23  179.41  175.95  7.305516e+09  41400710.0
2017-01-05  176.31  171.54  177.28  171.90  6.109243e+09  35093040.0
2017-01-06  172.40  169.50  173.75  170.69  6.065098e+09  35415590.0
2017-01-09  171.37  168.05  172.39  168.35  5.977865e+09  35187380.0
2017-01-10  168.35  167.54  172.30  171.60  1.007130e+10  58874120.0
2017-01-11  171.50  168.54  173.05  169.05  9.012624e+09  52772790.0
2017-01-12  170.00  168.02  170.65  168.27  8.442987e+09  49854940.0
2017-01-13  168.79  163.88  172.39  164.90  1.430459e+10  85990570.0
2017-01-16  165.22  164.06  166.80  164.66  6.218641e+09  37577470.0
2017-01-17  164.67  163.34  166.47  165.98  7.583760e+09  45968310.0
2017-01-18  165.90  164.31  167.80  165.24  7.051446e+09  42479900.0
2017-01-19  165.46  164.69  166.99  166.30  6.375017e+09  38478840.0
2017-01-20  166.55  165.42  168.19  167.49  5.439249e+09  32581460.0
2017-01-23  167.33  164.53  167.33  166.75  6.047502e+09  36457470.0
2017-01-24  167.37  167.24  170.70  170.25  7.685358e+09  45397860.0
2017-01-25  170.50  169.50  171.30  170.26  7.244602e+09  42543080.0
2017-01-26  170.85  169.06  174.39  173.79  9.680053e+09  56105000.0
2017-01-27  173.89  173.00  178.92  178.92  1.247494e+10  71123150.0
2017-01-30  177.50  174.24  178.00  174.60  8.087213e+09  45935720.0

In [15]:
sbr_vol_month=sbr.VALUE.resample('m').sum()
sbr_vol_month

TRADEDATE
2017-01-31    1.688358e+11
2017-02-28    1.362066e+11
2017-03-31    1.578608e+11
2017-04-30    1.532111e+11
2017-05-31    1.370957e+11
2017-06-30    1.825825e+11
2017-07-31    1.674641e+11
2017-08-31    1.859565e+11
2017-09-30    1.775828e+11
2017-10-31    1.448024e+11
2017-11-30    2.733817e+11
2017-12-31    1.533777e+11
Freq: M, Name: VALUE, dtype: float64

In [16]:
open_m=sbr.OPEN.resample('M').first().values
open_m

array([173.4 , 172.59, 155.65, 160.77, 166.  , 156.4 , 146.65, 165.5 ,
       183.85, 192.76, 194.49, 224.5 ])

In [17]:
close_m=sbr.CLOSE.resample('M').last().values
low_m=sbr.LOW.resample('M').min().values
high_m=sbr.HIGH.resample('M').max().values

In [19]:
month=sber.index.strftime('%b').unique()
month

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct',
       'Nov', 'Dec'],
      dtype='object', name='TRADEDATE')

In [20]:
moth_a=pd.DataFrame(
    {'month':month,'open':open_m,'close':close_m,'low':low_m,'high':high_m},
    index=sbr_vol_month.index)
moth_a.head(3)

           month    open  close     low    high
TRADEDATE
2017-01-31   Jan  173.40  172.2  163.34  181.68
2017-02-28   Feb  172.59  156.0  155.70  174.98
2017-03-31   Mar  155.65  159.8  155.23  165.99

In [24]:
sb_m=sber.resample('m').agg({'OPEN':'first','LOW':'min','HIGH':'max','CLOSE':'last'})
sb_m

              OPEN     LOW    HIGH   CLOSE
TRADEDATE
2017-01-31  173.40  163.34  181.68  172.20
2017-02-28  172.59  155.70  174.98  156.00
2017-03-31  155.65  155.23  165.99  159.80
2017-04-30  160.77  147.62  168.45  165.20
2017-05-31  166.00  155.03  172.39  155.93
2017-06-30  156.40  136.20  158.89  145.59
2017-07-31  146.65  146.22  167.35  164.53
2017-08-31  165.50  165.30  186.33  183.51
2017-09-30  183.85  180.93  195.00  192.33
2017-10-31  192.76  189.06  198.52  193.80
2017-11-30  194.49  192.38  233.95  224.35
2017-12-31  224.50  219.23  230.50  225.20

In [28]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)

ModuleNotFoundError: No module named 'plotly'

In [29]:
trace = go.Ohlc(x=sber.index,
                open=sber['OPEN'],
                high=sber['HIGH'],
                low=sber['LOW'],
                close=sber['CLOSE'])

data = [trace]
iplot(data)

NameError: name 'go' is not defined

In [35]:
trace2 = go.Ohlc(x=sb_m.index,# Проблема месяц, есть ли решение на середину месяца
                open=sb_m['OPEN'],
                high=sb_m['HIGH'],
                low=sb_m['LOW'],
                close=sb_m['CLOSE'])


layout = go.Layout(
    xaxis = dict(
        rangeslider = dict(
            visible = False
        )
    )
)

data2 = [trace2]
fig = go.Figure(data=data2,layout=layout)
iplot(fig)

NameError: name 'go' is not defined

In [36]:
sb_m=sber.resample('M').agg({'OPEN':'first','LOW':'min','HIGH':'max','CLOSE':'last'})
sb_m

              OPEN     LOW    HIGH   CLOSE
TRADEDATE
2017-01-31  173.40  163.34  181.68  172.20
2017-02-28  172.59  155.70  174.98  156.00
2017-03-31  155.65  155.23  165.99  159.80
2017-04-30  160.77  147.62  168.45  165.20
2017-05-31  166.00  155.03  172.39  155.93
2017-06-30  156.40  136.20  158.89  145.59
2017-07-31  146.65  146.22  167.35  164.53
2017-08-31  165.50  165.30  186.33  183.51
2017-09-30  183.85  180.93  195.00  192.33
2017-10-31  192.76  189.06  198.52  193.80
2017-11-30  194.49  192.38  233.95  224.35
2017-12-31  224.50  219.23  230.50  225.20

In [37]:
sb_m=sber.resample('MS').agg({'OPEN':'first','LOW':'min','HIGH':'max','CLOSE':'last'})
sb_m

              OPEN     LOW    HIGH   CLOSE
TRADEDATE
2017-01-01  173.40  163.34  181.68  172.20
2017-02-01  172.59  155.70  174.98  156.00
2017-03-01  155.65  155.23  165.99  159.80
2017-04-01  160.77  147.62  168.45  165.20
2017-05-01  166.00  155.03  172.39  155.93
2017-06-01  156.40  136.20  158.89  145.59
2017-07-01  146.65  146.22  167.35  164.53
2017-08-01  165.50  165.30  186.33  183.51
2017-09-01  183.85  180.93  195.00  192.33
2017-10-01  192.76  189.06  198.52  193.80
2017-11-01  194.49  192.38  233.95  224.35
2017-12-01  224.50  219.23  230.50  225.20

In [38]:
trace2 = go.Ohlc(x=sb_m.index,# Проблема месяц, есть ли решение на середину месяца
                open=sb_m['OPEN'],
                high=sb_m['HIGH'],
                low=sb_m['LOW'],
                close=sb_m['CLOSE'])


# layout = go.Layout(
#     xaxis = dict(
#         rangeslider = dict(
#             visible = False
#         )
#     )
# )

data2 = [trace2]
fig = go.Figure(data=data2)#,layout=layout)
iplot(fig)

NameError: name 'go' is not defined

In [41]:
month=sber.index.strftime('%b').unique()

trace2 = go.Candlestick(
                x=month, # Внимание на месяц
                open=sb_m['OPEN'],
                high=sb_m['HIGH'],
                low=sb_m['LOW'],
                close=sb_m['CLOSE'])


# layout = go.Layout(
#     xaxis = dict(
#         rangeslider = dict(
#             visible = False
#         )
#     )
# )

data2 = [trace2]
fig = go.Figure(data=data2)#,layout=layout)
iplot(fig)

NameError: name 'go' is not defined

In [40]:
sbr.LOW.resample('M').min()

TRADEDATE
2017-01-31    163.34
2017-02-28    155.70
2017-03-31    155.23
2017-04-30    147.62
2017-05-31    155.03
2017-06-30    136.20
2017-07-31    146.22
2017-08-31    165.30
2017-09-30    180.93
2017-10-31    189.06
2017-11-30    192.38
2017-12-31    219.23
Freq: M, Name: LOW, dtype: float64